<%= react_component "Navbar" %>
<% if notice || alert %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<% end %>
<%= react_component "Dashboard"%>
<%= react_component "Footer"%>
